{% extends 'base.html' %}

{% load  static %}


{% block content %}

<div id="data" style="display: none">{{ data }}</div>
<div class="main-content" id="panel">
    <div class="header pb-6" style="background-color: #3b589e">
      <div class="container-fluid">
        <div class="header-body" style="padding-top: 50px;padding-bottom: 40px; align-content: center;">

          <div class="row">
            <div class="col-xl-6 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col" style="text-align: center;">
                      <h5 class="card-title text-uppercase text-muted mb-0"><b>Total running auction</b></h5>
                      <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col" style="text-align: center;">
                      <h5 class="card-title text-uppercase text-muted mb-0"><b>Total Amount</b></h5>
                      <span class="h2 font-weight-bold mb-0">2,356</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: #0c5460">
        <div style="text-align: center; margin-top: 50px; padding-top: 30px;-webkit-text-fill-color: whitesmoke">
            <h2>Auction Added OverView</h2>
        </div>
        <div id="chartdiv" style="padding-right: 50px;"></div>
    </div>
</div>

    <script>

        var data = document.getElementById('data').innerText;

        data = JSON.parse(data)
        console.log(data['data'])


        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("chartdiv", am4charts.XYChart);

        var data = [];
        var value = 50;
        for(var i = 0; i < 300; i++){
          var date = new Date();
          date.setHours(0,0,0,0);
          date.setDate(i);
          value -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
          data.push({date:date, value: value});
        }
        console.log(data)
        chart.data = data;


        var endpoint ='/admin-d/'
        $.ajax({
            method: "GET",
            url:endpoint,
            success: function (data){
              console.log(data)
            }
        })

        // Create axes
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.minGridDistance = 60;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

        // Create series
        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = "value";
        series.dataFields.dateX = "date";
        series.tooltipText = "{value}"

        series.tooltip.pointerOrientation = "vertical";

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.snapToSeries = series;
        chart.cursor.xAxis = dateAxis;

        chart.scrollbarY = new am4core.Scrollbar();
        chart.scrollbarX = new am4core.Scrollbar();

        });
    </script>
{% endblock %}